<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- defaultPushSource key works like the 'defaultPushSource' key of NuGet.Config files. -->
  <!-- This can be used by administrators to prevent accidental publishing of packages to nuget.org. -->
  <config>
    <!--<add key="defaultPushSource" value="https://contoso.com/packages/" />-->
  </config>

  <!-- Define the package sources, nuget.org and contoso.com. -->
  <!-- `clear` ensures no additional sources are inherited from another config file. -->
  <packageSources>
    <clear />
    <!-- `key` can be any identifier for your source. -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <!-- Define mappings by adding package patterns beneath the target source. -->
  <!-- Contoso.* packages and NuGet.Common will be restored from contoso.com, everything else from nuget.org. -->
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <!--<packageSource key="contoso.com">
      <package pattern="Contoso.*" />
      <package pattern="NuGet.Common" />
    </packageSource>-->
  </packageSourceMapping>
</configuration>
