name: NuGet Package

on:
  workflow_run:
    workflows: [CI]
    types: [completed]
    branches: [main]

permissions:
  actions: read
  contents: write
  pull-requests: write

concurrency:
  group: publish-nuget
  cancel-in-progress: true

jobs:
  nuget:
    name: Publish
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    uses: dailydevops/pipelines/.github/workflows/publish-nuget.yml@cb2e329ddbd6ad42afc18b24518abf49eabbd9ad # 2.3.1
    with:
      workflowName: ${{ github.event.workflow_run.name }}
      artifactPattern: release-packages-*
      environment: NuGet
      runId: ${{ github.event.workflow_run.id }}
    secrets: inherit
