name: Update copyright year in license file

on:
  schedule:
    - cron: '0 6 1 1 *'
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  run:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - uses: FantasticFiasco/action-update-license-year@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        prTitle: 'chore: Updated LICENSE'
        commitTitle: 'chore: Updated LICENSE [skip ci]'
      id: license

    - name: Merge PR
      if: steps.license.outputs.pullRequestNumber != ''
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: gh pr merge --squash --admin --delete-branch ${{ steps.license.outputs.pullRequestNumber }}
